{
  "env": {
    "cjs": {
      "plugins": [
        [
          "babel-plugin-transform-remove-imports",
          { "test": "(less|css)$" }
        ]
      ]
    },
    "esm": {
      "plugins": [
        [
          "babel-plugin-transform-rename-import",
          { "original": "^(.+?)\\.less$", "replacement": "$1.css" }
        ]
      ]
    },
    "esm:dev": {
      "presets": [
        "@babel/preset-react",
        [
          "@tsbb/babel-preset-tsbb",
          {
            "modules": false,
            "targets": {
              "browsers": [ "last 2 versions" ]
            },
            "transformRuntime": {
              "useESModules": true
            }
          }
        ]
      ]
    }
  }
}