@md-editor:~"w-md-editor";

.@{md-editor} {
  &-toolbar {
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
      button {
        border: none;
        height: 22px;
        background: none;
        color: #242729;
        padding: 4px;
        text-transform: none;
        overflow: visible;
        outline: none;
      }
    }
    border-bottom: 1px solid #dfdfe0;
    background-color: #fbfbfb;
    padding: 4px 2px 4px 5px;
    border-radius: 3px 3px 0 0;
  }
}