
body, html {
  margin: 0;
  padding: 0;
}

.warpper {
  padding: 20px;
  margin: 0 auto;
  width: 950px;
  .doc-tools {
    padding: 30px 0 0 0;
    font-size: 12px;
    label {
      user-select: none;
    }
  }
}